@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Press Start 2P', cursive;
}

html {
  font-size: 62.5%;
}

body {
  background: #050517;
}

@keyframes slide {
  from {
    opacity: 0;
  }
  to {
    transform: translateX(0rem);
    opacity: 1;  
  }
}

.name h1{
  text-align: center;
  color: #FFFCEE;
  font-weight: 500;
  font-size: 3.2rem;
  padding-top: 4rem;
}

.insert-task {
  margin: 5rem 0 7rem;
  display: flex;
  align-items: center;
  justify-content: center;

  input {
    padding: 2rem 15rem 2rem 2rem;

    background: rgba(255, 252, 238, 0.24);
    color: #fff;

    box-shadow: 0 -4px 0 #FFFCEE,
    4px 0 0 #FFFCEE,
    0 4px 0 #FFFCEE,
    -4px 0 0 #FFFCEE;
    border: none;

    &::placeholder {
      color: rgba(255, 252, 238, 0.8);
    }

    &:focus {
      outline: none;
    }
  }

  button {
    height: 4.5rem;
    width: 4.5rem;

    background: #f5cb5c;
    border: none;
    box-shadow: 0 -4px 0 #FFFCEE,
    4px 0 0 #FFFCEE,
    0 4px 0 #FFFCEE,
    -4px 0 0 #FFFCEE;

    font-size: 2.5rem;
    color: #fff;

    margin-left: 3.3rem;

    cursor: pointer;

    &:hover {
      transform: scale(1.1);
      transition: 0.2s ease-in;
    }
  }
}

.animation-list {
  animation: slide 2s forwards;
  transform: translateX(-50rem);
}


ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background: #3F3047;
  width: 85%;
  padding: 3rem;
  margin-bottom: 3rem;
  list-style-type: none;

  border: none;
  box-shadow: 0 -4px 0 #FFFCEE,
    4px 0 0 #FFFCEE,
    0 4px 0 #FFFCEE,
    -4px 0 0 #FFFCEE;

  color: #fff;
  font-size: 1.4rem;

  word-break: break-word;


  .list-options {
    display: flex;
    align-items: center;
    
    img {
      cursor: pointer;
      padding-left: 2rem;
      height: 3.5rem;

      &:hover {
        transform: scale(1.2);
        transition: 0.2s ease-in;
      }
    }
  }
}

li[isDone=true] {
  text-decoration: line-through;
  text-decoration-thickness: 0.3rem;
  text-decoration-color: #000000;
  
}

/*MEDIA QUERIES*/

@media (max-width:556px) {
  html {
    font-size: 55%;
  }

  .insert-task {

    input {
      padding: 2rem 6rem 2rem 2rem;

     
    }
  }

}

@media (max-width:436px) {
  
  .insert-task {

    input {
      padding: 2rem ;

      font-size: 1.2rem;
    }
  }

}

@media (max-width:354px) {
  html {
    font-size: 50%;
  }

  .insert-task {

    input {
      padding: 2rem;
    }
  }
}